<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/pintukumar.prajapat.31/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/starlord433/?igsh=MWYzOWVzb3diMW1lbQ%3D%3D"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/pintu-kumar-prajapat-3076ab221/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
