<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br/> <br/>
    <h3>Create a new Listing</h3>

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="enter Your catchy title..." name="listing[title]" class="form-control" required/>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image/Link</label>
            <input type="text" placeholder="enter image URL/Link" name="listing[image]" class="form-control"/>
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control" required/>
        </div>
        <div class="row ">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input placeholder="1200" name="listing[price]" class="form-control" required/>
                <div class="invalid-feedback">Price should be a number</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" placeholder="India" name="listing[country]" class="form-control" required/>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="jaipur, Rajasthan" name="listing[location]" class="form-control" required/>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        
        <br/><br/>
        <button class="btn btn-dark add-btn">Add</button>
        <br/> <br/>
    </form>
</div>
</div>
